# Dependencies
node_modules

# Next.js
.next
out

# Build output
dist

# Environment
*.local
.env
.env.local
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
